* {
    box-sizing: border-box;
}

:root {
    --color-header-footer: #1f2937;
    --first-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --button-cta: #3882F6;
}


.container-1 {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {

    background-color: var(--color-header-footer);

}

.logo {
    color: var(--first-text);
    font-size: 24px;
    text-transform: uppercase;
    padding: 5px 0 0 5px;
    display: flex;
    gap: 5px;
}

ul {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 18px;
}

.container-2 {
    max-width: 900px;
    height: 280px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.hero {
    text-align: left;

    background-color: var(--color-header-footer);
    color: var(--first-text);
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.placeholder-one {
    width: 270px;
    height: 160px;
    background-color: gray;
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--button-cta);
    color: var(--secondary-text);
    width: 100px;
    height: 25px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    color: var(--button-cta);
    background-color: var(--secondary-text);
}